form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form div:last-of-type {
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

label {
  margin-bottom: 1.2rem;
}

form div:last-of-type label {
  margin-bottom: 0;
}

.form-input {
  display: flex;
  align-items: center;
  background: var(--gray-200);
}

.form-input {
  display: flex;
  align-items: center;
  background: var(--gray-200);
  padding: .8rem 1.2rem;
  border-radius: .4rem;
}